@mixin background($imgpath,$position:center,$repeat: no-repeat,$cover:cover,$fixed:fixed) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: $cover;
        attachment: $fixed;
    }
}
