.information {
    text-align: justify;
    padding: 40px 80px;
    text-indent: 70px;
    
    h2 {
        text-align: center;
        text-indent: 0;
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    p {
        font-weight: 500;
    }

    

}

.information-light {
    background-color: $lightInformationBackColor;
    color: $lightInformationColor;
}
.information-dark {
    background-color: $lightInformationBackColor;
    color: $lightInformationColor;
}