body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-size: $mainFontSize;
  font-family: $mainFontFamily;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  color: $mainColor;

}
