$mainFontSize : 16px;
$mainFontFamily: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$mainFontWeight: 400;
$mainLineHeight: 1.8em;
$mainColor: #666;
$lightInformationBackColor: rgba(223, 219, 219,0.8);
$lightInformationColor: rgb(95, 91, 91);
$darkInformationBackColor: rgba(115, 126, 139,0.8);
$darkInformationColor: #ddd;
$imageContainerTextColor: #fff;
$firstAndLastImageBackColor: rgba(24, 22, 22, 0.6);
$mobileFontSize : 10px;
$mobuleLineHeight: 1.2em;